/*
=====================================================================
*   RMG v1.0 Layout Stylesheet
*   02-02-2020
===================================================================== 
*/


/*
===================================================================== 
*   Default Style
=====================================================================  
*/
body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #293462;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
	font-size: 16px;
}

.centered {
    text-align: center;
}

/*
===================================================================== 
*   Links Style
=====================================================================  
*/
a {
    color: #32407b;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #2e279d;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

/*
===================================================================== 
*   Navbar
=====================================================================  
*/
.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;

	position: relative;
	height: 400px;
	min-height: 300px;
	width: 100%;
	background: #2e279d url(../image/moon_header.jpg) no-repeat top center;
	background-size: cover !important;
	 -webkit-background-size: cover !important;
	overflow: hidden;
}


.navbar-inverse {
	padding-bottom: 70px;
	padding-top: 70px;
}

.navbar-inverse {
	background-color: #32407b;
	border-color: #32407b;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #FE6845;
}

.navbar-inverse .navbar-nav > li > a > b {
	color: #FE6845;
	text-decoration: none;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
	background-color: #d84422;
}

.progress-bar-theme {
  background-color: #151965;
}

/*
===================================================================== 
*   Helpers
=====================================================================  
*/
.row-helper {
	margin-top: 40px;
	margin-bottom: 40px;
}

.container-helper {
	padding-top: 50px;
	padding-bottom: 50px;
}

/*
===================================================================== 
*   Image - Opacity
=====================================================================  
*/
.img-responsive {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}
  
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
  
.fadein_text:hover .img-responsive {
	opacity: 0.3;
}
  
.fadein_text:hover .middle {
	opacity: 1;
}
  
.text {
	color: #293462;
	font-size: 36px;
}

#img-about {
	border-radius: 50%;
	height: 25%;
	width: 25%;
}

/*
===================================================================== 
*   Wrap Sections
=====================================================================  
*/
#profile-pic {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #e7eaf6;
}


#footer {
	position: relative;
	height: 400px;
	min-height: 300px;
	width: 100%;
	background: #2e279d url(../image/moon_footer.jpg) no-repeat top center;
	background-size: cover !important;
	 -webkit-background-size: cover !important;
	overflow: hidden;
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}

/*
===================================================================== 
*   Icons Configuration
=====================================================================  
*/
.glyphicon {
	font-size: 50px;
	color: #293462;
}

#sm-glyphicon {
	font-size: 20px;
	color: #293462;
}

.fa {
	font-size: 20px;
	color: #846199;
}

.plus-size-icon {
	font-size: 35px;
	color: #846199;
}



/*
===================================================================== 
*   Copyright
=====================================================================  
*/
.copyright {
    margin: 0;
	padding: 0;
	color: #755588;
 }

.copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}

.copyright li {
   display: inline;
}

.copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
}

.copyright  li:first-child:before {
    display: none;
}

/*
===================================================================== 
*   Social Links
=====================================================================  
*/
.social-links {
   margin: 18px 0 30px -25px;
   padding: 0;
   font-size: 30px;
}

.social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
}

 social-links li:first-child { margin-left: 0; }
